* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    gap: 5px;
    grid-template-rows: repeat(5, minmax(150px, 1fr));
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    border: 1px solid red;
    width: 100%;
}

#aside, #header, #projects, #announcements, #trending {
    border: 1px solid black;
    display: flex;
}

#aside {
    flex-direction: column;
}


#aside {
    grid-row: 1 / -1;
}

#header {
    grid-column: 2 / 5;
}

#projects {
    grid-row: 2 / -1;
    grid-column: 2 / 4;
}

#announcements {
    grid-row: 2 / 4;
}

#trending {
    grid-row: 4 / 6;
}